[Desktop Entry]
Type=Application
Name=Linux-Universe First Run
Exec=/usr/local/bin/linux-universe-welcome
X-GNOME-Autostart-enabled=true
NoDisplay=true
